html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  border: 0;
  background-image: url("./resources/bg.png");
  background-size: cover;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}


.container {
  width: 100%;
  height: 100vh;
  /* Flex rules */
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.arrow-container {
  text-align: center;
  width: 100%;
  margin-top: 15px;
  position: absolute;
  top: 0px;
}

.current-prize-container {
  margin-bottom: 20px;
  font-family: Arial, sans-serif;
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  background: rgba(255, 0, 0, 0.8);
  padding: 10px 30px;
  border-radius: 50px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  z-index: 10;
}

#current-prize-display {
  color: #fff100;
  text-transform: uppercase;
  margin-left: 10px;
}

.wheel-container {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.names-container {
  position: absolute;
  top: 0px;
}

.canvas-button {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  overflow: hidden;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#canvas {
  max-width: 90vw;
  max-height: 90vh;
  width: auto;
  height: auto;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible-button {
  color: #fff;
  background-color: transparent;
  cursor: pointer;
  padding: 0 10px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 50px;
  font-weight: bold;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  width: 20vw;
  padding: 0 18px;
  display: none;
  overflow: hidden;
}

.todo-list {
  list-style-type: none;
  padding-left: 0;
}

span {
  border-radius: 4px;
  vertical-align: text-top;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 20px;
}

li {
  padding-top: 10px;
}

.delete-todo {
  vertical-align: middle;
}

input[type="image" i] {
  width: 15px;
  height: 15px;
}

.delete-button {
  color: red;
  background-color: transparent;
  cursor: pointer;
  border: none;
  text-align: left;
  outline: none;
  font-weight: bold;
}

form {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 3px solid #000;
}

/* Add this below all the other styles */
.empty-state {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: none;
}

.checklist-icon {
  margin-bottom: 20px;
}

.empty-state__title,
.empty-state__description {
  margin-bottom: 20px;
}

/* Add this below the other styles */
.todo-list:empty {
  display: none;
}

.todo-list:empty+.empty-state {
  display: flex;
}

/* Ẩn popup mặc định */
.popup {
  background-image: url("./resources/bg.png");
  background-size: cover;
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid #f1f1f1;
  z-index: 9;
  /* background-color: white; */
  width: 100%;
  height: 100%;
}

/* Thiết kế popup */
.popup-content {
  background-color: #f1f1f1;
  padding: 20px;
  margin: 16vh 20vh;
  height: 70vh;
  position: relative;
}

/* Nút đóng */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

button:hover {
  cursor: pointer;
  transition: all 0.5s;
  scale: 1.1;
}

.kq-item {
  margin-left: 3rem;
  color: black;
  font-size: inherit;
  font-family: inherit;
}